.mySwiper {
  width: 100%;
  /* height: auto; */
  margin: 8px auto 30px;
}
.card-style {
  border: none;
}

/* .card-style:hover {
  border: 1px solid green;
} */
.card-body {
  text-align: left;
}
.card-body div:nth-child(1) {
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.843);
  height: 40px;
  max-height: 40px;
  /* border: 1px solid green; */
}

.card-body div:nth-child(2) {
  font-size: 15px;
  /* border: 1px solid green; */
}
.card-body div:nth-child(3) {
  margin-top: -10px;
}
.card-body div:nth-child(3) span:nth-child(1) {
  font-size: 13px;
  width: 100%;
  color: rgb(97, 91, 91);
  text-decoration: line-through;
}
.card-body div:nth-child(3) span:nth-child(2) {
  font-size: 15px;
  background-color: #ffce736a;
  color: orangered;
  padding: 2px 4px;
  margin-left: 8px;
  font-weight: bold;
}

.card-target-stars {
  color: orange;
  margin-bottom: 0;
}

.card-target-stars i:nth-last-child(1) {
  color: rgba(128, 128, 128, 0.596);
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 10px;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px !important;
  height: 120px !important;
  transform: translate(0%, -20%);
  transition: all 0.4s;
  color: rgba(0, 0, 0, 0.388) !important;
  background-color: rgba(0, 0, 0, 0.08);
  /* border: 1px solid red; */
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.213);
  color: rgba(0, 0, 0, 0.722) !important;
}
.swiper-button-next {
  right: 0px !important;
  border-radius: 13px 0 0 13px;
}
.swiper-button-prev {
  left: 0px !important;
  border-radius: 0 13px 13px 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important;
  font-weight: bolder;
  /* border: 1px solid red; */
}
@media (max-width: 420px) {
  .card-style {
    width: 60%;
    margin: 20px auto;
  }
  .card-style .card-image {
    width: 80%;
    margin: auto;
  }
  .card-body div:nth-child(1) {
    font-size: 16px;
  }
  .card-body div:nth-child(2) {
    font-size: 13px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px !important;
    height: 80px !important;
  }
}

/* --------------- sepcial part to CardNewProducts file only --------- */

.card-newProduct {
  position: relative;
  border: 1px solid rgba(255, 68, 0, 0.6);
}

.card-newProduct .product-new {
  position: absolute;
  right: 0;
  padding: 3px 10px;
  color: #fff;
  background-color: rgba(255, 68, 0, 0.6);
  /* display: none; */
}
